*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #262935;
    height: 100%;
    width: 100%;
}

#cadastForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 55%;
    background: #363844;
    border-radius: 2px;
}

#titleF{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #b8b8bb;
}

input[type = text],[type = number]{
    width: 70%;
    height: 10%;
    border: solid 1px #b8b8bb;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    outline: none;
    transition: 0.3s;
    color: #c4c4c4;
}

input[type = text]:hover,[type = number]:hover{
    border: solid 1px #f86ffd;
    transition: .3s;
}

input[type = text]:focus,[type = number]:focus{
    border: solid 1px #f86ffd;
    transition: .3s;
    color: #c4c4c4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#nomeProd{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

#precoProd{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
}

#categoriaProd{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%);
}

#disponibilidadeProd{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

#tCategoriaProd{
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translateX(-50%);
}

#bProduto{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 8%;
    border-radius: 5px;
    border: solid 1px #D758B1;
    background-color: #D758B1;
    color: #cacaca;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

#bProduto:hover{
    background-color: #fc518d;
    transition: 0.2s;
}


#mensagem{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 3%;
    background-color: #527c5b;
    border: solid 1px #527c5b;
    border-radius: 5px;
    color: #393a3d;
    text-align: center;
    padding-top: 0.3%;
}