*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #f8a5c2;
    height: 100%;
    width: 100%;
}

#cadastForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 50%;
    background: #363844;
    border-radius: 2px;
}

#titleF{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #b8b8bb;
}

input[type = text],[type = number]{
    width: 70%;
    height: 10%;
    border: solid 1px #b8b8bb;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    outline: none;
    transition: 0.3s;
}

input[type = text]:hover,[type = number]:hover{
    border: solid 1px #f86ffd;
    transition: .3s;
}


#nomeProd{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

#precoProd{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
}

#categoriaProd{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
}

#disponibilidadeProd{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translateX(-50%);
}

#bProduto{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 8%;
    border-radius: 5px;
    border: solid 1px #ff639a;
    background-color: #ff639a;
    color: #cacaca;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

#bProduto:hover{
    background-color: #fc518d;
    transition: 0.2s;
}
#tCategoriaProd{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
}

#mensagem{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #01a31c;
    border: solid 1px #01a31c;
    border-radius: 5px;
    color: #181a20;
}