*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #e0e0e0;
}

@font-face{
    font-family: Bebas neue;
    src: url(../fontes/BebasNeue-Regular.otf);
}

@font-face{
    font-family: Jaguar;
    src: url(../fontes/JAGUAR.ttf);
}

@font-face{
    font-family: blank;
    src: url(../fontes/blank-Regular.otf);
}

#bBack{
    cursor: pointer;
}

#iconBack{
    position: absolute;
    top: 3%;
    left: 2%;
    color: #1f1f1f;
    font-size: 15px;
    display: inline-block;
}

#textBack{
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 15px;
    color: #1f1f1f;
    font-family: blank;
    display: inline-block;
}

#titleCateg{
    position: absolute;
    top: 11%;
    left: 3%;
    font-family: blank;
    font-size: 45px;
    color: #1f1f1f;
}

#linha{
    position: absolute;
    top: 18%;
    left: 3%;
    background-color: #ff7ab8;
    width: 90%;
    height: 0.3%;
}

/* Subtitulos das colunas */

.columnTitle{
    font-size: 19px;
    font-family: Jaguar;
    color: #e0e0e0;
    background-color: #1f1f1f;
    padding: .5%;
}

#nome{
    position: absolute;
    top: 25%;
    left: 4.5%;
    width: 29.4%;
}

#preco{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 11.9%;
}

#tipoCateg{
    position: absolute;
    top: 25%;
    left: 48%;
    width: 11.9%;
}

#editar{
    position: absolute;
    top: 25%;
    left: 61%;
    width: 4.9%;
    text-align: center;
}

#promo{
    position: absolute;
    top: 25%;
    left: 67%;
    width: 5.9%;
    text-align: center;
}

#Excluir{
    position: absolute;
    top: 25%;
    left: 74%;
    width: 4.9%;
    text-align: center;
}

/* Produto estilo */

.produtos{
    font-size: 15px;
    color: #414141;
}

.buttEdit{
    background-color: #b4b4b4;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 2px;
    color: #292929;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

.buttPromo{
    background-color: #e778cf;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 2px;
    color: #e2e2e2e5;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

.buttExc{
    background-color: #ff4655;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #e2e2e2e5;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

.linhaProd{
    width: 68%;
    height: 0.1%;
    background-color: #cacaca;
}


/* Produto 1 */

#prodNom0{
    position: absolute;
    top: 33.5%;
    left: 5%;
}

#prodPre0{
    position: absolute;
    top: 33.5%;
    left: 35.5%;
}

#prodTip0{
    position: absolute;
    top: 33.5%;
    left: 48.5%;
}

#prodEdit0{
    position: absolute;
    top: 32%;
    left: 62.8%;
}

#prodPromo0{
    position: absolute;
    top: 32%;
    left: 69.5%;
}

#prodExc0{
    position: absolute;
    top: 32%;
    left: 75.8%;
}

#line0{
    position: absolute;
    top: 40%;
    left: 5%;
}

/* Produto 2 */

#prodNom1{
    position: absolute;
    top: 45%;
    left: 5%;
}

#prodPre1{
    position: absolute;
    top: 45%;
    left: 35.5%;
}

#prodTip1{
    position: absolute;
    top: 45%;
    left: 48.5%;
}

#prodEdit1{
    position: absolute;
    top: 43.5%;
    left: 62.8%;
}

#prodPromo1{
    position: absolute;
    top: 43.5%;
    left: 69.5%;
}

#prodExc1{
    position: absolute;
    top: 43.5%;
    left: 75.8%;
}

#line1{
    position: absolute;
    top: 51.5%;
    left: 5%;
}

/* Produto 3 */

#prodNom2{
    position: absolute;
    top: 56.5%;
    left: 5%;
}

#prodPre2{
    position: absolute;
    top: 56.5%;
    left: 35.5%;
}

#prodTip2{
    position: absolute;
    top: 56.5%;
    left: 48.5%;
}

#prodEdit2{
    position: absolute;
    top: 55%;
    left: 62.8%;
}

#prodPromo2{
    position: absolute;
    top: 55%;
    left: 69.5%;
}

#prodExc2{
    position: absolute;
    top: 55%;
    left: 75.8%;
}

#line2{
    position: absolute;
    top: 63%;
    left: 5%;
}

/* Produto 4 */

#prodNom3{
    position: absolute;
    top: 68%;
    left: 5%;
}

#prodPre3{
    position: absolute;
    top: 68%;
    left: 35.5%;
}

#prodTip3{
    position: absolute;
    top: 68%;
    left: 48.5%;
}

#prodEdit3{
    position: absolute;
    top: 66.5%;
    left: 62.8%;
}

#prodPromo3{
    position: absolute;
    top: 66.5%;
    left: 69.5%;
}

#prodExc3{
    position: absolute;
    top: 66.5%;
    left: 75.8%;
}

#line3{
    position: absolute;
    top: 74.5%;
    left: 5%;
}

/* Produto 5 */

#prodNom4{
    position: absolute;
    top: 79.5%;
    left: 5%;
}

#prodPre4{
    position: absolute;
    top: 79.5%;
    left: 35.5%;
}

#prodTip4{
    position: absolute;
    top: 79.5%;
    left: 48.5%;
}

#prodEdit4{
    position: absolute;
    top: 78%;
    left: 62.8%;
}

#prodPromo4{
    position: absolute;
    top: 78%;
    left: 69.5%;
}

#prodExc4{
    position: absolute;
    top: 78%;
    left: 75.8%;
}

#line4{
    position: absolute;
    top: 86%;
    left: 5%;
}

/* Produto 6 */

#prodNom5{
    position: absolute;
    top: 91%;
    left: 5%;
}

#prodPre5{
    position: absolute;
    top: 91%;
    left: 35.5%;
}

#prodTip5{
    position: absolute;
    top: 91%;
    left: 48.5%;
}

#prodEdit5{
    position: absolute;
    top: 89.5%;
    left: 62.8%;
}

#prodPromo5{
    position: absolute;
    top: 89.5%;
    left: 69.5%;
}

#prodExc5{
    position: absolute;
    top: 89.5%;
    left: 75.8%;
}

#line5{
    position: absolute;
    top: 97.5%;
    left: 5%;
}

/* Produto 7 */

#prodNom6{
    position: absolute;
    top: 102.5%;
    left: 5%;
}

#prodPre6{
    position: absolute;
    top: 102.5%;
    left: 35.5%;
}

#prodTip6{
    position: absolute;
    top: 102.5%;
    left: 48.5%;
}

#prodEdit6{
    position: absolute;
    top: 101%;
    left: 62.8%;
}

#prodPromo6{
    position: absolute;
    top: 101%;
    left: 69.5%;
}

#prodExc6{
    position: absolute;
    top: 101%;
    left: 75.8%;
}

#line6{
    position: absolute;
    top: 109%;
    left: 5%;
}

/* Produto 8 */

#prodNom7{
    position: absolute;
    top: 114%;
    left: 5%;
}

#prodPre7{
    position: absolute;
    top: 114%;
    left: 35.5%;
}

#prodTip7{
    position: absolute;
    top: 114%;
    left: 48.5%;
}

#prodEdit7{
    position: absolute;
    top: 112.5%;
    left: 62.8%;
}

#prodPromo7{
    position: absolute;
    top: 112.5%;
    left: 69.5%;
}

#prodExc7{
    position: absolute;
    top: 112.5%;
    left: 75.8%;
}

#line7{
    position: absolute;
    top: 120.5%;
    left: 5%;
}

/* Produto 9 */

#prodNom8{
    position: absolute;
    top: 125.5%;
    left: 5%;
}

#prodPre8{
    position: absolute;
    top: 125.5%;
    left: 35.5%;
}

#prodTip8{
    position: absolute;
    top: 125.5%;
    left: 48.5%;
}

#prodEdit8{
    position: absolute;
    top: 124%;
    left: 62.8%;
}

#prodPromo8{
    position: absolute;
    top: 124%;
    left: 69.5%;
}

#prodExc8{
    position: absolute;
    top: 124%;
    left: 75.8%;
}

#line8{
    position: absolute;
    top: 132%;
    left: 5%;
}

/* Produto 10 */

#prodNom9{
    position: absolute;
    top: 137%;
    left: 5%;
}

#prodPre9{
    position: absolute;
    top: 137%;
    left: 35.5%;
}

#prodTip9{
    position: absolute;
    top: 137%;
    left: 48.5%;
}

#prodEdit9{
    position: absolute;
    top: 135.5%;
    left: 62.8%;
}

#prodPromo9{
    position: absolute;
    top: 135.5%;
    left: 69.5%;
}

#prodExc9{
    position: absolute;
    top: 135.5%;
    left: 75.8%;
}

#line9{
    position: absolute;
    top: 143.5%;
    left: 5%;
}

/* */
#bAdicionar{
    visibility: hidden;
    background-color: #383838;
    color: #e0e0e0;
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin-bottom: 3%;
    transition: .3s;
}

/* Janela Editar Produtos */

.pagEditar{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    height: 60%;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.pagEditarAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    height: 60%;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#bFechar{
    position: absolute;
    top: 5%;
    left: 90%;
    color: #353535;
    font-size: 30px;
    border: none;
    background: transparent;
    opacity: 0.3;
    transition: .3s;
    outline: none;
}

#bFechar:hover{
    opacity: 1;
    transition: .3s;
    cursor: pointer;
}

#titlePag{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    font-family: blank;
    font-weight: bold;
}

.idInput{
    color: #1f1f1f;
    font-family: blank;
}

.inputEdit{
    width: 60%;
    height: 8%;
    outline: none;
    border: solid 1px #1f1f1f;
    border-radius: 2px;
    color: #1f1f1f;
    background: transparent;
    padding: 2%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#subNome{
    position: absolute;
    top: 25%;
    left: 24%;
    transform: translateX(-50%);
}

#nomeProduto{
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
}

#subPre{
    position: absolute;
    top: 39%;
    left: 24%;
    transform: translateX(-50%);
}

#precoProduto{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
}

#subDisp{
    position: absolute;
    top: 54%;
    left: 28.4%;
    transform: translateX(-50%);
}

#dispProduto{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
}

#subTip{
    position: absolute;
    top: 68%;
    left: 23%;
    transform: translateX(-50%);
}

#tipoProduto{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
}

#bSalvar{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    outline:none;
    border: none;
    border-radius: 2px;
    background-color: #ff7ab8;
    width: 20%;
    height: 7%;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
    font-weight: bold;
    color: #e2e2e2;
}

#bSalvar:hover{
    background-color: #fc6aae;
    transition: .2s;
    color: #d1d1d1;
}

/* Blur container */

.styleCont{
    filter: blur(0px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.styleContAfter{
    filter: blur(20px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

/* Janela de Promoções */

.pagPromo{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32%;
    height: 40%;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.pagPromoAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32%;
    height: 40%;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#bFecharPromo{
    position: absolute;
    top: 6%;
    left: 90%;
    color: #353535;
    font-size: 30px;
    border: none;
    background: transparent;
    opacity: 0.3;
    transition: .3s;
    outline: none;
    cursor: pointer;
}

#bFecharPromo:hover{
    opacity: 1;
    transition: .3s;
    cursor: pointer;
}

#titlePagPromo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-family: blank;
    font-weight: bold;
}

.inputPromo{
    width: 60%;
    height: 12%;
    outline: none;
    border: solid 1px #1f1f1f;
    border-radius: 2px;
    color: #1f1f1f;
    background: transparent;
    padding: 2%;
}

.textInp{
    font-family: blank;
    color: #1f1f1f;
}

#promoNome{
    position: absolute;
    top: 32%;
    left: 20%;
}

#nomeProdutoPromo{
    position: absolute;
    top: 32%;
    left: 30%;
}

#promoPreco{
    position: absolute;
    top: 45%;
    left: 20%;
}

#precoProdutoPromo{
    position: absolute;
    top: 45%;
    left: 30%;
}

#promoText{
    position: absolute;
    top: 57%;
    left: 20%;
}

#valorProdutoPromo{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

#bSalvarPromo{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    outline:none;
    border: none;
    border-radius: 2px;
    background-color: #ff7ab8;
    width: 20%;
    height: 11%;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
    font-weight: bold;
    color: #e2e2e2;
}

#bSalvarPromo:hover{
    background-color: #fc6aae;
    transition: .2s;
    color: #d1d1d1;
}

/* Janela de Confirmar Exclusão */

.pagExcluir{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.pagExcluirAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#mensagemConf{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

#bConfirmar{
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #e0e0e0;
    background-color: #fc6aae;
    cursor: pointer;
    outline: none;
}

#bCancelar{
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #b4b4b4;
    cursor: pointer;
    outline: none;
}