*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #e0e0e0;
    height: 100%;
    width: 100%;
}

@font-face{
    font-family: Bebas neue;
    src: url(../fontes/BebasNeue-Regular.otf);
}

@font-face{
    font-family: Jaguar;
    src: url(../fontes/JAGUAR.ttf);
}

@font-face{
    font-family: blank;
    src: url(../fontes/blank-Regular.otf);
}

#titleCateg{
    position: absolute;
    top: 5%;
    left: 3%;
    font-family: blank;
    font-size: 45px;
    color: #1f1f1f;
}

#linha{
    position: absolute;
    top: 13%;
    left: 3%;
    background-color: #ff7ab8;
    width: 90%;
    height: 0.3%;
}

/* Subtitulos das colunas */

.columnTitle{
    font-size: 20px;
    font-family: blank;
    color: #e0e0e0;
    background-color: #1f1f1f;
    padding: .5%;
}

#nome{
    position: absolute;
    top: 25%;
    left: 4.5%;
    width: 29.4%;
}

#preco{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 11.9%;
}

#tipoCateg{
    position: absolute;
    top: 25%;
    left: 48%;
    width: 11.9%;
}

#editar{
    position: absolute;
    top: 25%;
    left: 61%;
    width: 4.9%;
    text-align: center;
}

#Excluir{
    position: absolute;
    top: 25%;
    left: 67%;
    width: 4.9%;
    text-align: center;
}

/* Produto estilo */

.produtos{
    font-size: 15px;
    color: #414141;
}

.buttEdit{
    background-color: #b4b4b4;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 2px;
    color: #292929;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

.buttExc{
    background-color: #ff4655;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #e2e2e2e5;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

.linhaProd{
    width: 68%;
    height: 0.1%;
    background-color: #cacaca;
}

/* Produto 1 */

#prodNom0{
    position: absolute;
    top: 33.5%;
    left: 5%;
}

#prodPre0{
    position: absolute;
    top: 33.5%;
    left: 35.5%;
}

#prodTip0{
    position: absolute;
    top: 33.5%;
    left: 48.5%;
}

#prodEdit0{
    position: absolute;
    top: 32%;
    left: 62.8%;
}

#prodExc0{
    position: absolute;
    top: 32%;
    left: 68.8%;
}

#line0{
    position: absolute;
    top: 40%;
    left: 5%;
}

/* Produto 2 */

#prodNom1{
    position: absolute;
    top: 45%;
    left: 5%;
}

#prodPre1{
    position: absolute;
    top: 45%;
    left: 35.5%;
}

#prodTip1{
    position: absolute;
    top: 45%;
    left: 48.5%;
}

#prodEdit1{
    position: absolute;
    top: 43.5%;
    left: 62.8%;
}

#prodExc1{
    position: absolute;
    top: 43.5%;
    left: 68.8%;
}

#line1{
    position: absolute;
    top: 51.5%;
    left: 5%;
}

/* Produto 3 */

#prodNom2{
    position: absolute;
    top: 56.5%;
    left: 5%;
}

#prodPre2{
    position: absolute;
    top: 56.5%;
    left: 35.5%;
}

#prodTip2{
    position: absolute;
    top: 56.5%;
    left: 48.5%;
}

#prodEdit2{
    position: absolute;
    top: 55%;
    left: 62.8%;
}

#prodExc2{
    position: absolute;
    top: 55%;
    left: 68.8%;
}

#line2{
    position: absolute;
    top: 63%;
    left: 5%;
}

/* Produto 4 */

#prodNom3{
    position: absolute;
    top: 68%;
    left: 5%;
}

#prodPre3{
    position: absolute;
    top: 68%;
    left: 35.5%;
}

#prodTip3{
    position: absolute;
    top: 68%;
    left: 48.5%;
}

#prodEdit3{
    position: absolute;
    top: 66.5%;
    left: 62.8%;
}

#prodExc3{
    position: absolute;
    top: 66.5%;
    left: 68.8%;
}

#line3{
    position: absolute;
    top: 74.5%;
    left: 5%;
}

/* Produto 5 */

#prodNom4{
    position: absolute;
    top: 79.5%;
    left: 5%;
}

#prodPre4{
    position: absolute;
    top: 79.5%;
    left: 35.5%;
}

#prodTip4{
    position: absolute;
    top: 79.5%;
    left: 48.5%;
}

#prodEdit4{
    position: absolute;
    top: 78%;
    left: 62.8%;
}

#prodExc4{
    position: absolute;
    top: 78%;
    left: 68.8%;
}

#line4{
    position: absolute;
    top: 86%;
    left: 5%;
}

/* Produto 6 */

#prodNom5{
    position: absolute;
    top: 91%;
    left: 5%;
}

#prodPre5{
    position: absolute;
    top: 91%;
    left: 35.5%;
}

#prodTip5{
    position: absolute;
    top: 91%;
    left: 48.5%;
}

#prodEdit5{
    position: absolute;
    top: 89.5%;
    left: 62.8%;
}

#prodExc5{
    position: absolute;
    top: 89.5%;
    left: 68.8%;
}

#line5{
    position: absolute;
    top: 97.5%;
    left: 5%;
}

/* Produto 7 */

#prodNom6{
    position: absolute;
    top: 102.5%;
    left: 5%;
}

#prodPre6{
    position: absolute;
    top: 102.5%;
    left: 35.5%;
}

#prodTip6{
    position: absolute;
    top: 102.5%;
    left: 48.5%;
}

#prodEdit6{
    position: absolute;
    top: 101%;
    left: 62.8%;
}

#prodExc6{
    position: absolute;
    top: 101%;
    left: 68.8%;
}

#line6{
    position: absolute;
    top: 109%;
    left: 5%;
}

#bAdicionar{
    visibility: hidden;
    background-color: #383838;
    color: #e0e0e0;
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin-bottom: 3%;
    transition: .3s;
}

/* Janela Editar Produtos */

.pagEditar{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    height: 50%;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.pagEditarAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    height: 50%;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#bFechar{
    position: absolute;
    top: 4%;
    left: 92%;
    color: #353535;
    font-size: 30px;
    border: none;
    background: transparent;
    opacity: 0.3;
    transition: .3s;
    outline: none;
}

#bFechar:hover{
    opacity: 1;
    transition: .3s;
    cursor: pointer;
}

#titlePag{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
}

.inputEdit{
    width: 60%;
    height: 10%;
    outline: none;
    border: solid 1px #1f1f1f;
    border-radius: 2px;
    color: #1f1f1f;
    background: transparent;
    padding: 2%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#nomeProduto{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

#precoProduto{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
}

#dispProduto{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translateX(-50%);
}

#tipoProduto{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateX(-50%);
}

#bSalvar{
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translateX(-50%);
    outline:none;
    border: none;
    border-radius: 2px;
    background-color: #ff7ab8;
    width: 20%;
    height: 9%;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
    font-weight: bold;
    color: #e2e2e2;
}

#bSalvar:hover{
    background-color: #fc6aae;
    transition: .2s;
    color: #d1d1d1;
}

.styleCont{
    filter: blur(0px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.styleContAfter{
    filter: blur(20px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}