*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #262935;
    height: 100%;
    width: 100%;
}

#divLogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 35%;
    background: #363844;
    border-radius: 2px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#title{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: #b8b8bb;
}
.ErroEmail[type = text]{
    border: solid 1px red;
}

input[type = text],[type = password]{
    width: 70%;
    height: 15%;
    border: solid 1px #b8b8bb;
    border-radius: 3px;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    outline: none;
    transition: 0.3s;
    color: #c4c4c4;
}

input[type = text]:hover,[type = password]:hover{
    border: solid 1px #ff85d0;
    transition: .3s;
}

input[type = text]:focus,[type = password]:focus{
    border: solid 1px #f86ffd;
    transition: .3s;
    color: #c4c4c4;
}

#iEmail{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#iSenha{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#bEntrar{
    position: absolute;
    top: 75%;
    left: 32%;
    transform: translateX(-50%);
    width: 34%;
    height: 12%;
    border-radius: 2px;
    color: #d6d6d6;
    border: solid 1px #d858a7;
    background-color: #d858a7;
    cursor: pointer;
    transition: 0.2s;
    outline: none; 
}

#bEntrar:hover{
    border: solid 1px #c44493;
    background-color: #c44493;
}

#bCancelar{
    position: absolute;
    top: 75%;
    left: 68%;
    transform: translateX(-50%);
    width: 34%;
    height: 12%;
    border-radius: 2px;
    color: #6d6d6d;
    border: solid 1px #c9c8c8;
    background-color: #c9c8c8;
    cursor: pointer;
    transition: 0.2s;
    outline: none; 
}

#bCancelar:hover{
    border: solid 1px #adadad;
    background-color: #adadad;
}

#mensagens{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d14141;
    width: 13%;
    height: 3%;
    border-radius: 5px;
    color: #b6b6b6;
    text-align: center;
    padding-top: 0.3%;
}