*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #262935;
    height: 100%;
    width: 100%;
}

@font-face{
    font-family: Bebas Neue;
    src: url(../fontes/BebasNeue-Regular.otf);
}

@font-face{
    font-family: blank;
    src: url(../fontes/blank-Regular.otf);
}

#menuLat{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100%;
    background-color: #35394a;
}

#voltarPrinc{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 80%;
    height: 5%;
    border: none;
    cursor: pointer;
    outline: none;
}

#iconBack{
    position: absolute;
    top: 17%;
    left: 9%;
    display: inline-block;
    color: #d6d6d6;
    font-size: 24px;
}

#textBack{
    position: absolute;
    top: 14%;
    left: 25%;
    color: #d6d6d6;
    font-size: 24px;
    font-family: Bebas neue;
    display: inline-block;
}

#linha{
    position: relative;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 0.1%;
    background-color: #d6d6d6b0;
    visibility: visible;
}

.item_menu{
    position: relative;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 5%;
    background: transparent;
}

.item_botao{
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: left;
    padding-left: 23%;
    border: none;
    cursor: pointer;
    transition: .2s;
    color: #d6d6d6;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item_botao:hover{
    align-items: center;
    background-color: #393c4e;
    transition: .2s;
}

.item_botao_after{
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: left;
    padding-left: 23%;
    border: none;
    cursor: pointer;
    transition: .2s;
    color: #f1b15f;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    background-color: #3f4152;
    transition: .2s;
    border-right:solid 7px #f1b15f;
}

#enviarMesa{
    position: absolute;
    top: 90%;
    left: 5%;
    width: 90%;
    height: 5%;
    background-color: #272931;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    opacity: 0.3;
    transition: .2s;
}

#enviarMesa:hover{
    opacity: 1;
    transition: .2s;
}

#iconGarcom{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: #b4b4b4;
    display: inline-block;
}

#textGarcom{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
    font-family: Bebas neue;
    color: #b4b4b4;
    display: inline-block;
}

/* Promoções */

#divPromo{
    position: relative;
    left: 15%;
    width: 84.8%;
    height: 100%;
}

#nomePag{
    position: absolute;
    top: 5%;
    left: 18%;
    font-size: 60px;
    font-family: Bebas Neue;
    color: #f1b15f;
}

#linha2{
    position: absolute;
    top: 15%;
    left: 18%;
    width: 80%;
    height: 0.1%;
    background-color: #d6d6d6b0; 
}

/* Promoções */

.divProdpromo{
    width: 40%;
    height: 30%;
    border-radius: 5px;
    background-color: #1d1e25;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.styPorc{
    position: absolute;
    top: 8%;
    left: 15%;
    transform: translateX(-50%);
    font-size: 22px;
    font-family: monospace;
    font-weight: bold;
    color: #d6d6d6;
}

.styNome{
    position: absolute;
    top: 8%;
    left: 60%;
    transform: translateX(-50%);
    width: 65%;
    color: #d6d6d6;
    font-size: 20px;
    font-family: monospace;
}

.styPreco{
    position: absolute;
    top: 35%;
    left: 6%;
    font-size: 40px;
    font-family: Bebas neue;
    color: #ca862e;
}

.bContador{
    background: transparent;
    border: none;
    color: #da9740;
    cursor: pointer;
    outline: none;
    padding: 1%;
    text-align: center;
}

.buttonAdd{
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 40%;
    height: 17%;
}

#bDiminuir{
    position: absolute;
    top: 77%;
    left: 10%;
}

#bAumentar{
    position: absolute;
    top: 77%;
    left: 25%;
}


/* Blur da tela */

.styleCont{
    filter: blur(0px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.styleContAfter{
    filter: blur(20px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

/* Janela de confirmação */

.styConfirmar{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.styConfirmarAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#divPergunta{
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 7%;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #e2e2e2;
}

#bConfirmar{
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #ca862e;
    cursor: pointer;
    outline: none;
}

#bCancelar{
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #b4b4b4;
    cursor: pointer;
    outline: none;
}

/* Janela para mudar tela */

.styleMudar{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.styleMudarAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#textMudar2{
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 10%;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 17px;
    color: #e2e2e2;
}

#bSim{
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #ca862e;
    cursor: pointer;
    outline: none;
}

#bNao{
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #b4b4b4;
    cursor: pointer;
    outline: none;
}

.alerta{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5% 1%;
    border-radius: 3px;
    font-family: Bebas neue;
    color: #1f1f1f;
    background-color: #d6b968;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}

.alertaAfter{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5% 1%;
    border-radius: 3px;
    font-family: Bebas neue;
    color: #1f1f1f;
    background-color: #d6b968;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 1;
    transition: .5s;
    visibility: visible;
}
