body {
    background-color: rgb(235, 27, 106);
}

input {
    border-color: #CCC;
    border-radius: 30px;
    height: 40px;
    width: 195%;
    margin-bottom: 1%;
    padding-left: 5%;
    border-style: solid;
    border-color: black;

}

button {
    border-radius: 40px;
    background-color: rgb(129, 8, 58);
    border-color: rgb(0, 0, 0);
    width: 73.5%;
    height: 10.5%;
    margin-top: 10%;
    font-family: arial black;

    

}

div{
    border-color: rgb(0, 0, 0);
    border-radius: 10%;
    border-style: solid;
    border-width: medium;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60%;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(228, 208, 208);
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

  h3{
    color: rgb(255, 255, 255);
  }