*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #e0e0e0;
    width: 100%;
    height: 100%;
}

@font-face{
    font-family: Bebas neue;
    src: url(../fontes/BebasNeue-Regular.otf);
}

@font-face{
    font-family: blank;
    src: url(../fontes/blank-Regular.otf);
}

#menu{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 6%;
    background-color: #1f1f1f;
    box-shadow: 0px 0px 5px 3px #5f5f5fb2;
}

#user{
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: none;
    color: #dd5cd2;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}

#nome{
    position: absolute;
    top: 53%;
    left: 5%;
    transform: translate(-50%,-50%);
    background: transparent;
    color: #e0e0e0;
    font-family: Bebas neue;
}

.bTitle{
    color: #8b8b8b;
    font-family: Bebas neue;
    font-size: 23px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.bTitleAfter{
    color: #e0e0e0;
    font-family: Bebas neue;
    font-size: 23px;
    background: transparent;
    width: 7%;
    height: 100%;
    border: none;
    border-bottom:solid 2px #dd5cd2;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

#titlePag{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%,-50%);
}

#titlePag2{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}

#logout{
    position: relative;
    top: 50%;
    left: 93%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: none;
    color: #e0e0e0;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* Primeira Janela */
#cadastro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #363844;
    width: 25%;
    height: 30%;
    border-radius: 2px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
}

#titleDiv{
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: #e0e0e0;
}

input{
    width: 70%;
    height: 38px;
    border: solid 1px #b8b8bb;
    border-radius: 3px;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    outline: none;
    transition: 0.3s;
    color: #c4c4c4;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

#quantidade{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
}

#confQnt{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 15%;
    border: none;
    border-radius: 3px;
    background-color: #d858a7;
    color: #e0e0e0;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

/* Segunda Janela */

#conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #363844;
    width: 25%;
    height: 40%;
    border-radius: 2px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
}

#bVoltar{
    position: absolute;
    top: 25px;
    left: 8%;
    transform: translateX(-50%);
    font-size: 25px;
    color: #e0e0e0;
    opacity: .5;
    cursor: pointer;
    transition: .2s;
}

#bVoltar:hover{
    opacity: 1;
    transition: .2s;
}

#titleAfter{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #e0e0e0;
}

.comd{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mesas{
    width: 70%;
    height: 38px;
    padding: 5px 10px 5px 10px;
    outline: none;
    background-color: #464958;
    border: none;
    border-radius: 3px;
    color: #c4c4c4;
}

#nomeMesa{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

#textCom{
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translateX(-50%);
    /*padding-top: 38%;*/
    color: #e0e0e0;
    font-family: Bebas neue;
    font-size: 20px;
}

#cadastraMesa{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 38px;
    border: none;
    border-radius: 3px;
    background-color: #d858a7;
    color: #e0e0e0;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

/* Tela Envia Mesas */

.divMesas{
    width: 15%;
    height: 15%;
    background-color: #292929;
    border-radius: 5px;
}

.nomeMesas{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    border: none;
    color: #e0e0e0;
    font-family: Bebas neue;
    font-size: 25px;
}

.butEnviar{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 25%;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #d858a7;
    color: #e0e0e0;
    outline: none;
}

/* Container Blur  */

.styleCont{
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.styleContAfter{
    filter: blur(20px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

/* Janela de confirmação */

.divConf{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.divConfAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#texto{
    position: absolute;
    top: 20%;
    left: 47%;
    transform: translateX(-46%);
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #e2e2e2;
}

#bConfirma{
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #e2e2e2;
    background-color: #d858a7;
    cursor: pointer;
    outline: none;
}

#bNega{
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #b4b4b4;
    cursor: pointer;
    outline: none;
}


