*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #1d1f29;
}

@font-face{
    font-family: Jaguar;
    src: url(../fontes/JAGUAR.ttf);
}

@font-face{
    font-family: bebas neue;
    src: url(../fontes/BebasNeue-Regular.otf);
}

@font-face{
    font-family: blacklist;
    src: url(../fontes/The\ Blacklist.ttf);
}

.divsBack{
    width: 100%;
    height: 60%;
    margin-top: 0%;
}

/* Primeira DIV */
#divIntro{
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 80%;
    background-image: url(../imagens/something.png);
    opacity: 0.07;
}

#titlePrinc{
    position: absolute;
    top: 27%;
    left: 49.5%;
    transform: translateX(-50%);
    font-size: 90px;
    font-family: blacklist;
    color: #ff3187;
}

#titlePrinc2{
    position: absolute;
    top: 37.5%;
    left: 50.5%;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: blacklist;
    color: #e0e0e0;
}

#linha1{
    position: absolute;
    top: 52%;
    left: 42.5%;
    transform: translateX(-50%);
    width: 12%;
    height: 0.1;
    background-color: #ff3187;
}

#linha2{
    position: absolute;
    top: 51.9%;
    left: 50%;
    transform: translateX(-50%);
    width: 0.2%;
    height: 0.4%;
    background-color: #ff3187;
}

#linha3{
    position: absolute;
    top: 52%;
    left: 57.5%;
    transform: translateX(-50%);
    width: 12%;
    height: 0.1;
    background-color: #ff3187;
}

#textDiv{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%); 
    width: 27%;
    height: 15%;
    color: #e0e0e0;
    font-size: 18px;
    text-align: center;
    opacity: 0.3;
}

.icons{
    color: #e0e0e0;
    opacity: 0.5;
}

#facebook{
    position: absolute;
    top: 7%;
    left: 86.5%;
    transform: translateX(-50%);
}

#instagram{
    position: absolute;
    top: 7%;
    left: 85%;
    transform: translateX(-50%);
}

#nomeRedes{
    position: absolute;
    top: 7%;
    left: 91%;
    transform: translateX(-50%);
    color: #e0e0e0;
    font-family: monospace;
    font-weight: bold;
}

/* Segunda DIV */
#divProm{
    position: absolute;
    top: 80%;
    left: 0%;
    border-bottom: solid 5px #ff3187;
    border-top: solid 5px #ff3187;
}

#textPromo{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff3187;
    color: #e0e0e0;
    width: 10%;
    height: 9%;
    font-family: bebas neue;
    font-size: 25px;
    text-align: center;
    padding-top: 1%;
}

#imgPromo{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 35%;
    opacity: 0.8;
}

#promoção{
    width: 100%;
}

#whiteText{
    position: absolute;
    top: 43%;
    left: 70%;
    width: 30%;
    height: 30%;
    transform: translate(-50%,-50%);
    color: #e0e0e0;
    font-size: 21px;
    text-align: justify;
    opacity: 0.8;
}

#bPromo{
    position: absolute;
    top: 75%;
    left: 70%;
    transform: translate(-50%,-50%);
    border: none;
    background-color: #f0659f;
    color: #e0e0e0;
    font-family: Bebas neue;
    font-size: 20px;
    width: 30%;
    height: 10%;
    opacity: 0.7; 
    outline: none;
    cursor: pointer;
    transition: .2s;
}

#bPromo:hover{
    opacity: 1; 
    transition: .2s;
}

/* Terceira DIV */ 
#divCategorias{
    position: absolute;
    top: 140%;
    left: 0%;
    border: none;
}

#textCateg{
    position: absolute;
    top: 1.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff3187;
    color: #e0e0e0;
    width: 10%;
    height: 9%;
    font-family: bebas neue;
    font-size: 25px;
    text-align: center;
    padding-top: 1%;
}

.categ{
    opacity: 0.8;
    cursor: pointer;
}


#imagem1{
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translateX(-50%);
    border: solid 3px #e0e0e0;
    width: 18%;
    height: 60%;
    border-radius: 10px;
}

#imagem2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 3px #e0e0e0;
    width: 18%;
    height: 60%;
    border-radius: 10px;
}

#imagem3{
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translateX(-50%);
    border: solid 3px #e0e0e0;
    width: 18%;
    height: 60%;
    border-radius: 10px;
}

#imagem4{
    position: absolute;
    top: 105%;
    left: 25%;
    transform: translateX(-50%);
    border: solid 3px #e0e0e0;
    width: 18%;
    height: 60%;
    border-radius: 10px;
    margin-bottom: 5%;
}

#imagem5{
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 3px #e0e0e0;
    width: 18%;
    height: 60%;
    border-radius: 10px;
    margin-bottom: 5%;
}

#imagem6{
    position: absolute;
    top: 105%;
    left: 75%;
    transform: translateX(-50%);
    border: solid 3px #e0e0e0;
    width: 18%;
    height: 60%;
    border-radius: 10px;
    margin-bottom: 5%;
}

/* Container Blur  */

.styleCont{
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.styleContAfter{
    filter: blur(20px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

/* Janela para mudar tela */

#enviarMesa{
    position: absolute;
    top: 6%;
    left: 3%;
    width: 10%;
    height: 5%;
    background-color: #272931;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    opacity: 0.6;
    transition: .2s;
}

#enviarMesa:hover{
    opacity: 1;
    transition: .2s;
}

#iconGarcom{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: #b4b4b4;
    display: inline-block;
}

#textGarcom{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
    width: 50%;
    font-family: Bebas neue;
    color: #b4b4b4;
    display: inline-block;
}

.styleMudar{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.styleMudarAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#textMudar2{
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 10%;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 17px;
    color: #e2e2e2;
}

#bSim{
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #ca862e;
    cursor: pointer;
    outline: none;
}

#bNao{
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #b4b4b4;
    cursor: pointer;
    outline: none;
}

.alerta{
    position: fixed;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5% 1%;
    border-radius: 3px;
    font-family: Bebas neue;
    color: #1f1f1f;
    background-color: #d6b968;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}

.alertaAfter{
    position: fixed;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 0.5% 1%;
    border-radius: 3px;
    font-family: Bebas neue;
    color: #1f1f1f;
    background-color: #d6b968;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 1;
    transition: .5s;
    visibility: visible;
}

