*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #e0e0e0;
}

@font-face{
    font-family: Bebas neue;
    src: url(../fontes/BebasNeue-Regular.otf);
}

@font-face{
    font-family: blank;
    src: url(../fontes/blank-Regular.otf);
}

@font-face{
    font-family: jaguar;
    src: url(../fontes/JAGUAR.ttf);
}

#menu{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 6%;
    background-color: #1f1f1f;
    box-shadow: 0px 0px 5px 3px #5f5f5fb2;
}

#titlePag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e0e0e0;
    font-family: Bebas neue;
    font-size: 30px;
}

#logout{
    position: relative;
    top: 50%;
    left: 93%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: none;
    color: #e0e0e0;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* Mesas  (div preta) */

.mesas{
    background-color: #1f1f1f;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 20%;
    height: 5%;
    color: #e0e0e0;
    cursor: pointer;
}

#text{
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    display: inline;
    font-weight: bold;
}

/* Seta da div (Animação) */

.iconGira{
    transform: rotate(0deg);
    transition: .2s;
}

.iconGiraAfter{
    transform: rotate(-90deg);
    transition: .2s;
}

#iconSeta{
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    margin-left: 55%;
    display: inline;
    transition: .2s;
}


/* Comanda ( div branca - Efeito) */

.comanda0{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 20%;
    height: 0%;
    background-color: #c7c5c5;
    border-radius: 5px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.comandaAfter0{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 20%;
    background-color: #c7c5c5;
    border-radius: 5px;
    transition: 0.4s;
    opacity: 1;
    visibility: visible;
}

.comanda1{
    position: absolute;
    top: 25%;
    left: 30%;
    width: 20%;
    height: 0%;
    background-color: #c7c5c5;
    border-radius: 5px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.comandaAfter1{
    position: absolute;
    top: 25%;
    left: 30%;
    width: 20%;
    background-color: #c7c5c5;
    border-radius: 5px;
    transition: 0.4s;
    opacity: 1;
    visibility: visible;
}

/* Estilo dos elementos */

.nomeC{
    color: #1f1f1f;
    font-weight: bold;
    font-family: Bebas neue;
    font-size: 20px;
}

.produtos{
    color: #464545;
}

.butFinal{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 30px;
    border: none;
    background-color: #ff4655;
    color: #e0e0e0;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: 0%;
    opacity: 1;
    visibility: visible;
}
