*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #262935;
    height: 100%;
    width: 100%;
}

@font-face{
    font-family: Bebas Neue;
    src: url(../fontes/BebasNeue-Regular.otf);
}

@font-face{
    font-family: blank;
    src: url(../fontes/blank-Regular.otf);
}

#menuLat{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100%;
    background-color: #35394a;
}

#voltarPrinc{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 80%;
    height: 5%;
    border: none;
    cursor: pointer;
    outline: none;
}

#iconBack{
    position: absolute;
    top: 12%;
    left: 9%;
    display: inline-block;
    color: #d6d6d6;
    font-size: 30px;
}

#textBack{
    position: absolute;
    top: 14%;
    left: 25%;
    color: #d6d6d6;
    font-size: 24px;
    font-family: Bebas neue;
    display: inline-block;
}

#linha{
    position: relative;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 0.1%;
    background-color: #d6d6d6b0;
    visibility: visible;
}

.item_menu{
    position: relative;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 5%;
    background: transparent;
}

.item_botao{
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: left;
    padding-left: 23%;
    border: none;
    cursor: pointer;
    transition: .2s;
    color: #d6d6d6;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item_botao:hover{
    align-items: center;
    background-color: #393c4e;
    transition: .2s;
}

.item_botao_after{
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: left;
    padding-left: 23%;
    border: none;
    cursor: pointer;
    transition: .2s;
    color: #f1b15f;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    background-color: #3f4152;
    transition: .2s;
    border-right:solid 7px #f1b15f;
}

#enviarMesa{
    position: absolute;
    top: 90%;
    left: 5%;
    width: 90%;
    height: 5%;
    background-color: #272931;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    opacity: 0.3;
    transition: .2s;
}

#enviarMesa:hover{
    opacity: 1;
    transition: .2s;
}

#iconGarcom{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: #b4b4b4;
    display: inline-block;
}

#textGarcom{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
    font-family: Bebas neue;
    color: #b4b4b4;
    display: inline-block;
}

/* Cardápio */

#divPedidos{
    position: relative;
    left: 15%;
    width: 84.8%;
    height: 100%;
}

#nomePag{
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 60px;
    font-family: Bebas Neue;
    color: #f1b15f;
}

#linha2{
    position: absolute;
    top: 15%;
    left: 3%;
    width: 95%;
    height: 0.1%;
    background-color: #d6d6d6b0; 
}

.bContador{
    background: transparent;
    border: solid 2px #eba243;
    color: #d6d6d6;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 0.4%;
}

/* Elementos da primeira categoria */

#subNome0{
    position: absolute;
    top: 20%;
    left: 8%;
    font-size: 35px;
    font-family: Bebas Neue;
    color: #d6d6d6;
}

/* Primeiro produto - Primeira categoria */
#nomeOne0{
    position: absolute;
    top: 27%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoOne0{
    position: absolute;
    top: 30%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}

#bDiminuirOne0{
    position: absolute;
    top: 28%;
    left: 70%;
}

#numberOne0{
    position: absolute;
    top: 28%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarOne0{
    position: absolute;
    top: 28%;
    left: 77%;
}

#bAdicionarOne0{ 
    position: absolute;
    top: 27.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaOne_0{
    position: absolute;
    top: 35%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341; 
}

/* Segundo produto - Primeira categoria */
#nomeOne1{
    position: absolute;
    top: 37%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoOne1{
    position: absolute;
    top: 40%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirOne1{
    position: absolute;
    top: 38%;
    left: 70%;
}

#numberOne1{
    position: absolute;
    top: 38%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarOne1{
    position: absolute;
    top: 38%;
    left: 77%;
}

#bAdicionarOne1{ 
    position: absolute;
    top: 37.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaOne_1{
    position: absolute;
    top: 45%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341;
}

/* Terceiro produto - Primeira categoria */

#nomeOne2{
    position: absolute;
    top: 47%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoOne2{
    position: absolute;
    top: 50%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirOne2{
    position: absolute;
    top: 48%;
    left: 70%;
}

#numberOne2{
    position: absolute;
    top: 48%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarOne2{
    position: absolute;
    top: 48%;
    left: 77%;
}

#bAdicionarOne2{ 
    position: absolute;
    top: 47.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaOne_2{
    position: absolute;
    top: 55%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341;
}

/* Quarto produto - Primeira Categoria */

#nomeOne3{
    position: absolute;
    top: 57%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoOne3{
    position: absolute;
    top: 60%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirOne3{
    position: absolute;
    top: 58%;
    left: 70%;
}

#numberOne3{
    position: absolute;
    top: 58%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarOne3{
    position: absolute;
    top: 58%;
    left: 77%;
}

#bAdicionarOne3{ 
    position: absolute;
    top: 57.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaOne_3{
    position: absolute;
    top: 65%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341; 
}

/* Quinto produto - Primeira Categoria */

#nomeOne4{
    position: absolute;
    top: 67%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoOne4{
    position: absolute;
    top: 70%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirOne4{
    position: absolute;
    top: 68%;
    left: 70%;
}

#numberOne4{
    position: absolute;
    top: 68%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarOne4{
    position: absolute;
    top: 68%;
    left: 77%;
}

#bAdicionarOne4{ 
    position: absolute;
    top: 67.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaOne_4{
    position: absolute;
    top: 75%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341; 
}

/* Elementos da segunda categoria */

#subNome1{
    position: absolute;
    top: 55%;
    left: 8%;
    font-size: 35px;
    font-family: Bebas Neue;
    color: #d6d6d6;                                                                                                                                                                 
}

/* Primeiro produto - Segunda categoria */
#nomeTwo0{
    position: absolute;
    top: 62%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoTwo0{
    position: absolute;
    top: 65%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirTwo0{
    position: absolute;
    top: 63%;
    left: 70%;
}

#numberTwo0{
    position: absolute;
    top: 63%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarTwo0{
    position: absolute;
    top: 63%;
    left: 77%;
}

#bAdicionarTwo0{ 
    position: absolute;
    top: 62.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaTwo_0{
    position: absolute;
    top: 70%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341;
}

/* Segundo produto - Segunda categoria */

#nomeTwo1{
    position: absolute;
    top: 72%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoTwo1{
    position: absolute;
    top: 75%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirTwo1{
    position: absolute;
    top: 73%;
    left: 70%;
}

#numberTwo1{
    position: absolute;
    top: 73%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarTwo1{
    position: absolute;
    top: 73%;
    left: 77%;
}

#bAdicionarTwo1{ 
    position: absolute;
    top: 72.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaTwo_1{
    position: absolute;
    top: 80%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341; 
}

/* Teceiro produto - Segunda categoria */

#nomeTwo2{
    position: absolute;
    top: 82%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoTwo2{
    position: absolute;
    top: 85%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirTwo2{
    position: absolute;
    top: 83%;
    left: 70%;
}

#numberTwo2{
    position: absolute;
    top: 83%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarTwo2{
    position: absolute;
    top: 83%;
    left: 77%;
}

#bAdicionarTwo2{ 
    position: absolute;
    top: 82.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaTwo_2{
    position: absolute;
    top: 90%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341; 
}

/* Quarto produto - Segunda categoria */

#nomeTwo3{
    position: absolute;
    top: 92%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoTwo3{
    position: absolute;
    top: 95%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirTwo3{
    position: absolute;
    top: 93%;
    left: 70%;
}

#numberTwo3{
    position: absolute;
    top: 93%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarTwo3{
    position: absolute;
    top: 93%;
    left: 77%;
}

#bAdicionarTwo3{ 
    position: absolute;
    top: 92.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaTwo_3{
    position: absolute;
    top: 100%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341; 
}

/* Quinto produto - Segunda categoria */

#nomeTwo4{
    position: absolute;
    top: 102%;
    left: 10%;
    font-size: 18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #d6d6d6;
}

#precoTwo4{
    position: absolute;
    top: 105%;
    left: 11%;
    font-size: 13px;
    font-style: italic;
    font-family: monospace;
    color: #d6d6d6;
}


#bDiminuirTwo4{
    position: absolute;
    top: 103%;
    left: 70%;
}

#numberTwo4{
    position: absolute;
    top: 103%;
    left: 74%;
    color: #d6d6d6;
    font-size: 25px;
}

#bAumentarTwo4{
    position: absolute;
    top: 103%;
    left: 77%;
}

#bAdicionarTwo4{ 
    position: absolute;
    top: 102.5%;
    left: 82%;
    background-color: #ca862e;
    border: solid 2px #ca862e;
    color: #d6d6d6;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 5%;
}

#linhaTwo_4{
    position: absolute;
    top: 110%;
    left: 9%;
    width: 85%;
    height: 0.1%;
    background-color: #2f3341; 
}

/* Blur da tela */

.styleCont{
    filter: blur(0px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.styleContAfter{
    filter: blur(20px);
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

/* Janela de confirmação */

.styConfirmar{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.styConfirmarAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#divPergunta{
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 7%;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #e2e2e2;
}

#bConfirmar{
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #ca862e;
    cursor: pointer;
    outline: none;
}

#bCancelar{
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #b4b4b4;
    cursor: pointer;
    outline: none;
}

/* Janela para mudar tela */

.styleMudar{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.styleMudarAfter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 22%;
    background-color: #1d1e25;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#iconWarning{
    position: absolute;
    top: 10%;
    left: 92%;
    transform: translateX(-50%);
    padding: 8px;
    border-radius: 5px;
    background-color: #d6b968;
    font-size: 13px;
    color: #f0f0f0;
    opacity: 0.4;
    cursor: pointer;
}

#iconWarning:hover{
    opacity: 1;
}

#textMudar2{
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 8%;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 17px;
    color: #e2e2e2;
}

#bSim{
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #ca862e;
    cursor: pointer;
    outline: none;
}

#bNao{
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translateX(-50%);
    width: 25%;
    height: 17%;
    border: none;
    border-radius: 3px;
    color: #1f1f1f;
    background-color: #b4b4b4;
    cursor: pointer;
    outline: none;
}
